:host {
    position: relative;
    max-width: 100%;
    height: calc(100vw / 16 * 9);
    .img-container {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}