:host {
    #content-wrapper {
        overflow: hidden;
        display: flex;
        position: relative;
        flex: 1;
        flex-direction: column;
    }
    .headline {
        display: flex;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 12px;
        .icon:before {
            color: blue;
            transform: translateX(-100%);
            margin-right: 10px;
        }
        .divider {
            margin-left: 10px;
            background: blue;
            height: 16px;
            display: flex;
            flex-grow: 3;
        }
    }
}